/* Landing page styles */

.landing {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 90vh;
  justify-content: center;
  background-color: transparent;
  scroll-snap-align: start;
}

.landing
h1 {
  font-size: 5em;
  max-width: 100%;
  margin: 0;
  text-align: center;
  color: whitesmoke;
  border: 5px solid whitesmoke;
}

.landing 
h2 {
  font-size: 3em;
}


.landing 
h3 {
  font-size: 2em;
  margin: 0em;
  text-align: right;
}

.intro{
  margin: auto;
  width: 80%;
}

@media (max-width: 500px) {
  nav > a {
    font-size: 5vw;
  }
}

/* Portfolio styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.gallery > div{
  margin-top: 30px;
}

a {
  font-size: 1.3em;
  text-decoration: none;
  color: whitesmoke;
}

.imageBox {
  flex-grow: 1;
  position: relative;
  max-width: 300px;
  margin: 20px;
}

.image {
  display: block;
  image-rendering: crisp-edges;
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
  box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.507);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.imageBox:hover .overlay {
  opacity: 1;
}
p{
  color: whitesmoke;
}

.text {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* About styles */

.aboutPage {
  display: flex;
  flex-direction: row;
}

.profile {
  margin: 5vh 5vw;
}

.leftColumn {
  flex: 1;
  padding: 2vw; 
}

.rightColumn {
  flex: 3;
  padding: 2vw; 
}

img{
  max-height: 50%;
  width: 100%;
  box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.507);
}

.headshot {
  width: 100%;
  height: auto;
}

.skills{
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  line-height: 2.5;
  list-style-type: none;
}

ul.links img {
  width: 2em;
  height: auto;
  padding-right: 15px;
  box-shadow: none;
  fill: whitesmoke;
}

.revealPrompt {
  cursor: pointer;
  margin: auto;
}

.resumeTitles{
  display: flex;
  align-content: space-around;
  justify-content: center;
  margin-top: 50px;
}

#revealEd, #revealEx {
  justify-content: center;
}

.degree, .job {
  padding: 35px;
}

@media (max-width: 480px) {
  .aboutPage {
    flex-direction: column;
    width: 80%;
    }
    .resumeTitles {
      font-size: .7em;
      flex-direction: column;
      }
      #revealEd, #revealEx {
        flex-direction: column;
      }
}